<#include "info/macro.ftl" />
<@L.html>
<@L.head title="信息发布平台 - 雨无声实验室">
<style type="text/css">
body {
	padding-top: 60px;
	padding-bottom: 40px;
}
#show {
	position: relative;
}
#keynote span {
	color: #fff;
	font-size: 50px;
	padding-left: 10px;
	text-shadow: 0 1px 1px rgba(0,0,0,.4);
}
#header {
	margin-bottom: 15px;
}
#keynote {
	position: absolute;
	left: 5%;
	bottom: 5%;
}
#keynote h3 {
	color: #fff;
	text-shadow: 0 1px 1px rgba(0,0,0,.4);
}
.nav-header {
	font-size: 1.2em;
	padding: 5px;
}
.icon-chevron-right {
	opacity: .5;
	float: right;
}
@media (max-width: 980px) {
	body {
		padding-top: 0px;
	}
	#keynote h2 {
		font-size: 20px;
	}
	#keynote img {
		display: none;
	}
	#keynote span {
		font-size: 30px;
	}
	#header {
		/*margin-bottom: 30px;*/
	}
}
@media (max-width: 680px) {
	#keynote span {
		font-size: 25px;
	}
	#header {
		display: none;
	}
}
@media (max-width: 480px) {
	.mobile {
		display: block;
	}
	#show {
		display: none;
	}
	.mobile button {
		margin-bottom: 5px;
	}
}
</style>
</@L.head>
<body>
<@header />
<div id="error" class="container">

</div>
<div class="container">
	<div id="show">
		<img src="/resources/images/info/notice.jpg" alt="校园信息发布平台" />
		<div class="container" id="keynote">
			<div id="header">
				<img src="/resources/images/info/notices_logo.jpg" alt="" id="logo" />
				<span class="">校园信息发布平台</span>
			</div>
			<h3>搭载App，轻松获取校园一手信息:-)</h3>
			<p>
				<a href="#" class="btn btn-info btn-large description">详细介绍</a>
				<a href="/resources/html/info/auth.html" class="btn btn-success btn-large">申请认证</a>
				<a href="/resources/app/notty_20130520.apk" class="btn btn-success btn-large">下载app for Android</a>
			</p>
		</div>
	</div>
</div>
<div class="container hide mobile">
	<div class="hero-unit">
		<h2>欢迎来到雨无声校园信息发布平台！</h2>
		<h4>搭载App，轻松获取校园一手信息:-)</h4>
			<a href="#" class="btn btn-info btn-block description">详细介绍</a>
			<a href="/resources/html/info/auth.html" class="btn btn-success btn-block">申请认证</a>
			<a href="/resources/app/yws-notices.apk" class="btn btn-success btn-block">Android客户端</a>
	</div>
</div>
<hr />
<div class="container">
	<div class="row-fluid">
		<div class="span3">
			<ul class="nav nav-list" id="latest_auth_list">
				<li class="nav-header">最新认证</li>
<#list users as u>
				<li>
					<a href="#" uid="${u.id}" class="view_profile"><i class="icon-chevron-right"></i> ${u.authorizedName}</a>
				</li>
</#list>
			</ul>
			<button id="more_user" class="btn btn-block btn-info" last_user_id="-1">更多</button>
			<div class="alert hide" id="more_error">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				<strong>没有更多啦！</strong>
			</div>
		</div>
		<div class="span9">
			<div class="row-fluid">
<#list notices as n>
				<div class="span4 primary_notice" notice_id="${n.id}">
	<#if n.title?length gt 20>
					<h2>${n.title?string[0..19]}...</h2>
	<#else>
					<h2>${n.title}</h2>
	</#if>
	<#if n.content?length gt 100>
					<p>${n.content?string[0..99]}...</p>
	<#else>
					<p>${n.content}</p>
	</#if>
					<p><a class="btn" href="/info/notices/${n.id}">详细 &raquo;</a></p>
				</div>
</#list>
			</div>
			<button class="btn btn-block btn-success" id="more_notices" last_notice_id="-1">更多</button>
			<div class="alert hide" id="more_notices_error">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				<strong></strong>
			</div>
		</div>
	</div>
</div>
<div id="modal_profile" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="modal_profileLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="modal_profileLabel"></h3>
	</div>
	<div class="modal-body">
		<div id="profile">
			<p>Ta是： <span id="authed_name"></span></p>
			<p>来自： <span id="org"></span></p>
			<p>关于Ta： <span id="about"></span></p>
			<p>联系Ta吧： <span id="contact"></span></p>
		</div>
	</div>
</div>
<div id="modal_description" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="modal_descriptionLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="modal_profileLabel"></h3>
	</div>
	<div class="modal-body">
		<div id="description">
			<p class="head text-success">雨无声校园信息发布平台是一个轻松获取校园信息的地方。</p>
			<p>这上面发表的信息会出现在雨无声新闻网，论坛上以及校园信息发布平台的 Android客户端上-:)</p>
			<p>任何院校机构，学生组织经过雨无声的认证后均可在其上发布信息。</p>
			<p>校园信息发布平台是开放源代码与API接口的，详见雨无声实验室首页</p>
		</div>
	</div>
</div>
<div class="container">
	<footer>
		<p>&copy; 2001-2013 <a href="//www.newgxu.cn">newgxu.cn</a> &middot;All Rights Reserved.</p>
	</footer>
</div>
</body>
<@L.script>
<script type="text/javascript" src="/resources/js/info/notty.js"></script>
<script type="text/javascript">
$(function() {
	$('#profile span').addClass('text-info');

	$('.description').click(function(e) {
		e.preventDefault();
		$('#modal_description').modal();
	})

	$('#login_btn').click(function(e) {
		// ff 传event有问题，所以手动搞了
		e.preventDefault();
		notty.login({
			login_form: '#login_form',
			url: '/info/login',
			errorHint: '#error',
			params: ['account', 'pwd']
		})
	})
	$('#logout').click(function(e) {
		e.preventDefault();
		notty.logout();
	})

	$('#more_user').click(function(e) {
		e.preventDefault();
		var last_user_id = $(this).attr('last_user_id');
		// console && console.log(last_user_id);
		if (last_user_id == -1) {
			last_user_id = $('#latest_auth_list li:last a').attr('uid');
		}
		// console && console.log(last_user_id);
		$.ajax({
			 url: '/info/users?type=2',
			type: 'GET',
			data: {
				count: 5,
				last_uid: last_user_id
			},
			dataType: 'json',
			success: function(data) {
				var length = data.users.length;
				if (length < 5) {
					$('#more_error strong').text('没有更多啦！');
					$('#more_user').attr('disabled', true);
					$('#more_error').show();
				}
				$.each(data.users, function(i, item) {
					var html = '<li><a href="javascript:userDetail({id})" uid="{id}" class="view_profile"><i class="icon-chevron-right"></i> {name}</a></li>';
					html = html.replace('{id}', item.id).replace('{name}', item.authed_name);
					$(html).appendTo('#latest_auth_list');
					if (i === length - 1) {
						$('#more_user').attr('last_user_id', item.id);
					}
				})
			},
			error: function() {
				alert('出错啦！请稍后再试');
				return;
			}
		})
	})

	$('#latest_auth_list > li > a').click(function(e) {
		e.preventDefault();
		var uid = $(this).attr('uid');
		userDetail(uid);
	})

	$('#more_notices').click(function(e) {
		e.preventDefault();
		$('#more_info_error').hide();
		var last = $(this).attr('last_notice_id');
		if (last == -1) {
			last = $('.primary_notice:last').attr('notice_id');
		}
		// console.log(last);
		$.ajax({
			url: '/info/notices?type=2',
			type: 'GET',
			data: {
				count: 3,
				last_nid: last
			},
			dataType: 'json',
			success: function(data) {
				var length = data.notices.length;
				if (length < 3) {
					$('#more_notices_error strong').text('没有更多啦！');
					$('#more_notices').attr('disabled', true);
					$('#more_notices_error').show();
				}
				var column$ = $('<div>').addClass('row-fluid');
				$.each(data.notices, function(i, item) {
					var content = item.content;
					if (content.length > 100) {
						content = content.substring(0, 99) + '...';
					}
					var title = item.title;
					if (title.length > 20) {
						title = title.substring(0, 19) + '...';
					}
					$('<div>').addClass('span4').append($('<h2>').text(title)).append($('<p>').text(content))
						.append($('<p>').append($('<a>').addClass('btn').attr('href', '/info/notices/' + item.id).html('详细 &raquo;'))).appendTo(column$);

					if (i === length - 1) {
						$('#more_notices').attr('last_notice_id', item.id);
					}
				})
				column$.insertBefore('#more_notices');
			},
			error: function() {
				$('#more_notices_error strong').text('出错啦！请稍后再试');
				$('#more_notices_error').show();
			}
		})
	})
})
function userDetail(uid) {
	$.ajax({
			 url: '/info/users/' + uid,
			type: 'GET',
		dataType: 'json',
		success: function(data) {
			if (data.status !== 1) {
				alert('没有找到该用户！');
				return;
			}
			$('#authed_name').text(data.user.authed_name);
			$('#org').text(data.user.org);
			$('#about').text(data.user.about);
			$('#contact').text(data.user.contact);
			$('#modal_profile').modal();
		},
		error: function() {
			alert('没有找到该用户！');
		}
	})
}
</script>
</@L.script>
<@L.ga_lab />
</@L.html>
