<#include "macro.ftl" />
<#include "info/macro.ftl" />
<@head title="信息发布平台 - 雨无声实验室">
<style type="text/css">
body {
	padding: 60px 0 40px 0;
}
.carousel-caption {
	background: none;
	margin-bottom: 30px;
}
#buttons, #featrue {
	padding: 0 0 10px 50px;
	text-shadow: 0 1px 1px rgba(0,0,0,.4);
}
.alert {
	display: none;
}
.info {
	overflow: hidden;
	height: 200px;
}
footer {
	margin: 10px 0;
}
</style>
</@head>
<body>
<@header />
<div class="container">
	<div class="alert alert-error" id="alert">
			<p class="text-center"><span id="status"></span><span id="info"></span> <span id="reason"></span></p>
	</div>
	<div class="carousel">
		<div class="item active">
			<img src="/resources/images/info/notice.jpg" class="img-rounded" alt="">
			<div class="container">
				<div class="carousel-caption">
					<p class="lead" id="featrue">搭载App，轻松获取校园一手信息:-)</p>
					<span id="buttons"><a href="#" id="description" class="btn btn-info btn-large">详细介绍</a>&nbsp;&nbsp;<a href="/resources/html/info/auth.html" class="btn btn-success btn-large">申请认证</a></span>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="span3">
			<ul class="nav nav-list" id="latest_auth_list">
				<li class="nav-header">最新认证</li>
<#list users as u>
				<li><a href="#" uid="${u.id}" class="view_profile">${u.authorizedName}</a></li>
</#list>
			</ul>
			<a id="more_user" last_user_id="-1" href="#" class="btn btn-block btn-info">查看更多</a>
			<div class="alert" id="more_error">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				<strong></strong>
			</div>
		</div>
		<div class="span9">
			<div class="row" id="notice_list">
<#list notices as n>
				<div class="span3 notice" notice_id="${n.id}">
					<h4>${n.title}</h4>
	<#if n.content?html?string?length gt 100>
						<p>${n.content?html?string[0..99]}</p>
	<#else>
						<p>${n.content?html}</p>
	</#if>
					<p><a class="btn" href="/info/notices/${n.id}">详细 &raquo;</a></p>
				</div>
</#list>
			</div>
			<a href="#" id="more_notices" last_notice_id="-1" class="btn btn-block">查看更多</a>
			<div class="alert" id="more_notices_error">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				<strong></strong>
			</div>
		</div>
	</div>

	<div id="modal_profile" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="modal_profileLabel" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="modal_profileLabel"></h3>
		</div>
		<div class="modal-body">
			<div id="profile">
				<p>Ta是： <span id="authed_name"></span></p>
				<p>来自： <span id="org"></span></p>
				<p>关于Ta： <span id="about"></span></p>
				<p>联系Ta吧： <span id="contact"></span></p>
			</div>
		</div>
	</div>
	<div id="modal_description" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="modal_descriptionLabel" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="modal_profileLabel"></h3>
		</div>
		<div class="modal-body">
			<div id="description">
				<p class="head text-success">雨无声校园信息发布平台是一个轻松获取校园信息的地方。</p>
				<p>这上面发表的信息会出现在雨无声新闻网，论坛上以及校园信息发布平台的 Android客户端上-:)</p>
				<p>任何院校机构，学生组织经过雨无声的认证后均可在其上发布信息。</p>
				<p>校园信息发布平台是开放源代码与API接口的，详见雨无声实验室首页</p>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<footer>
		<p>&copy; 2001-2013 <a href="//www.newgxu.cn">newgxu.cn</a> &middot;All Rights Reserved.</p>
	</footer>
</div>
</body>
<@script>
<script type="text/javascript">
$(function() {
	$('#profile span').addClass('text-info');

	$('#description').click(function(e) {
		e.preventDefault();
		$('#modal_description').modal();
	})
	$('#login_form button').click(function(e) {
		e.preventDefault();
		$('#alert').hide();
		$.ajax({
			type:		'GET',
			url: 		'/info/users.json',
			data: 		$('#login_form').serialize(),
			dataType: 	'json',
			success: function(data) {
				if (data.status === 'ok') {
					location.reload();
				} else if (data.status === 'no') {
					window.scrollTo(0, 0);
					$('#status').text('登陆失败！');
					$('#info').text(data.msg);
					$('#reason').text(data.reason);
					$('#alert').fadeIn();
				} else {
					window.scrollTo(0, 0);
					$('#status').text('登陆失败！');
					$('#alert').fadeIn();
				}
			},
			error: function() {
				window.scrollTo(0, 0);
				$('#status').text('登陆失败！');
				$('#alert').fadeIn();
			}
		})
		$(':password').val('');
	})

	$('#logout').click(function(e) {
		e.preventDefault();
		$('#alert').hide();
		var uid = $('#user_service').attr('uid');
		$.ajax({
			type: 'PUT',
			url: '/info/users/' + uid + '.json'
		})
		location.reload();
	})

	$('#latest_auth_list > li > a').click(function(e) {
		e.preventDefault();
		var uid = $(this).attr('uid');
		userDetail(uid);
	})

	$('#more_user').click(function(e) {
		e.preventDefault();
		var last_user_id = $(this).attr('last_user_id');
		if (last_user_id == -1) {
			last_user_id = $('#latest_auth_list li:last a').attr('uid');
		}
		$.ajax({
			type: 'GET',
			url: '/info/users.json',
			data: {
				count: 5,
				last_uid: last_user_id
			},
			success: function(data) {
				var length = data.users.length;
				if (length === 0) {
					$('#more_error strong').text('没有更多啦！');
					$('#more_user').attr('disabled', true);
					$('#more_error').show();
					return;
				}
				$.each(data.users, function(i, item) {
					var html = '<li><a href="javascript:userDetail({id})" uid="{id}" class="view_profile">{name}</a></li>';
					html = html.replace('{id}', item.id).replace('{name}', item.authed_name);
					$(html).appendTo('#latest_auth_list');
					if (i === length - 1) {
						$('#more_user').attr('last_user_id', item.id);
					}
				})
			},
			error: function() {
				alert('出错啦！请稍后再试');
				return;
			}
		})
	})

	$('#more_notices').click(function(e) {
		e.preventDefault();
		$('#more_info_error').hide();
		var last = $(this).attr('last_notice_id');
		if (last == -1) {
			last = $('#notice_list div.notice:last').attr('notice_id');
		}
		$.ajax({
			url: '/info/notices.json?more',
			type: 'GET',
			data: {
				count: 3,
				last_id: last
			},
			dataType: 'json',
			success: function(data) {
				var length = data.notices.length;
				if (length === 0) {
					$('#more_notices_error strong').text('没有更多啦！');
					$('#more_notices').attr('disabled', true);
					$('#more_notices_error').show();
				} else {
					$.each(data.notices, function(i, item) {
						var content = '';
						if (item.content.length < 100) {
							content = item.content;
						} else {
							content = item.content.substring(0, 99);
						}
						$('<div>').addClass('span3 info').append($('<h4>').text(item.title)).append($('<p>').text(content))
							.append($('<p>').append($('<a>').addClass('btn').attr('href', '/info/notices/' + item.id).html('详细 &raquo;'))).appendTo('#notice_list');

						if (i === length - 1) {
							$('#more_notices').attr('last_notice_id', item.id);
						}
					})
				}
			},
			error: function() {
				$('#more_notices_error strong').text('出错啦！请稍后再试');
				$('#more_notices_error').show();
			}
		})
	})
})

function userDetail(uid) {
	var url = '/info/users/' + uid + '.json';
	$.ajax({
		url: 		url,
		type: 		'GET',
		dataType: 	'json',
		success: function(data) {
			if (data.status !== 'ok') {
				alert('没有找到该用户！');
				return;
			}
			$('#authed_name').text(data.user.authed_name);
			$('#org').text(data.user.org);
			$('#about').text(data.user.about);
			$('#contact').text(data.user.contact);
			$('#modal_profile').modal();
		},
		error: function() {
			alert('没有找到该用户！');
		}
	})
}
</script>
</@script>