<#include "macro.ftl" />
<#include "info/macro.ftl" />
<@head title="信息列表 - 雨无声实验室">
<style type="text/css">
body {
	padding: 60px 0 40px 0;
}
#template {
	display: none;
}
#alert {
	margin: 20px 0;
}
footer {
	margin: 20px 0;
}
</style>
</@head>
<body>
<@header />

<div class="container">
	<table class="table table-striped" id="notices">
		<tr class="success">
			<td>#</td>
			<td>标题</td>
			<td>发表日期</td>
			<td>修改日期</td>
			<td>上传文件</td>
			<td>查看次数</td>
			<td>状态</td>
			<td>需要修改？</td>
		</tr>
<#list notices as n>
		<tr notice_id="${n.id}">
			<td>${n_index + 1}</td>
			<td><code class="title"><a href="/info/notices/${n.id}" target="_blank">${n.title}</a></code></td>
			<td><code class="text-info add-date">${n.addDate}</code></td>
			<td><code class="text-warning modify-date">${n.lastModifiedDate}</code></td>
	<#if n.docUrl??>
			<td><code class="upload-file"><a class="text-success" target="_blank" href="${n.docUrl}">${n.docName?default('文件')}</a></code></td>
	<#else>
			<td><code class="upload-file">没有上传</code></td>
	</#if>
			<td><code class="click-times">${n.clickTimes}</code></td>
	<#if n.blocked>
			<td><code class="status">屏蔽</code> <code><a href="/info/notices/${n.id}.json?blocked=0" class="action unblock text-error">解蔽之</a></code></td>
	<#else>
			<td><code class="status">正常</code> <code><a href="/info/notices/${n.id}.json?blocked=1" class="action block text-error">屏蔽之</a></code></td>
	</#if>
			<td><code><a href="/info/notices/${n.id}?modifying=1">走起~</a></code></td>
		</tr>
</#list>
	</table>
	<button id="more" class="btn btn-block" uid="${Session.info_user.id}" count="3" last_notice_id="-1">查看更多！</button>
	<div class="alert alert-error hide" id="alert">
		<p class="text-center text-error lead"><span id="msg"></span> <span id="reason"></span></p>
	</div>
</div>

<table id="template">
	<tbody class="item">
		<tr>
			<td class="index"></td>
			<td><code class="title"></code></td>
			<td><code class="text-info add-date"></code></td>
			<td><code class="text-warning modify-date"></code></td>
			<td><code class="upload-file"></code></td>
			<td><code class="click-times"></code></td>
			<td><code class="status"></code> <code class="action text-error"></code></td>
			<td><code class="modify"><a href="#">走起~</a></code></td>
		</tr>
	</tbody>
</table>
<div class="container">
	<footer>
		<p>&copy; 2001-2013 <a href="//www.newgxu.cn">newgxu.cn</a> &middot;All Rights Reserved.</p>
	</footer>
</div>
</body>
<@script>
<script type="text/javascript">
$()
$(function() {
	$('#_index').removeClass('active');

	$('#logout').click(function(e) {
		e.preventDefault();
		$('#alert').hide();
		var uid = $('#user_service').attr('uid');
		$.ajax({
			type: 'PUT',
			url: '/info/users/' + uid + '.json'
		})
		location.href = '/info/';
	})

	$('#more').click(function(e) {
		e.preventDefault();
		var this$ = $(this);
		var uid = this$.attr('uid');
		var last_notice_id = this$.attr('last_notice_id');
		if (last_notice_id == -1) {
			last_notice_id = $('#notices tr:last').attr('notice_id');
		}
		var count = this$.attr('count');
		var url = '/info/notices.json';
		$.ajax({
			url: url,
			type: 'GET',
			dataType: 'json',
			data: {
				count: 3,
				uid: uid,
				last_notice_id: last_notice_id
			},
			success: function(data) {
				var length = data.notices.length;
				if (length === 0) {
					$('#msg').text('没有更多啦！');
					$('#alert').fadeIn();
					$('#more').attr('disabled', true);
					return;
				}
				$.each(data.notices, function(i, item) {
					count++;
					var _item$ = $('#template .item').children().clone();
					_item$.find('.index').text(count);
					_item$.find('.title').append($('<a>').attr('href', '/info/notices/' + item.id).attr('target', '_blank').text(item.title));
					_item$.find('.add-date').text(item.add_date.replace(/\.\d$/g, ''));
					_item$.find('.modify-date').text(item.last_modified_date.replace(/\.\d$/g, ''));
					if (item.doc_url) {
						var docLink$ = $('<a>').addClass('text-success').attr('href', item.doc_url).attr('target', '_blank');
						if (item.doc_name) {
							docLink$.text(item.doc_url);
						} else {
							docLink$.text('文件');
						}
						_item$.find('.upload-file').append(docLink$);
					} else {
						_item$.find('.upload-file').text('没有上传');
					}
					_item$.find('.click-times').text(item.click_times);
					if (item.blocked) {
						_item$.find('.status').text('屏蔽');
						_item$.find('.action').append($('<a>').attr('href', '/info/notices/' + item.id + '.json?blocked=0').text('解蔽之').addClass('text-error unblock action'));
					} else {
						_item$.find('.status').text('正常');
						_item$.find('.action').append($('<a>').attr('href', '/info/notices/' + item.id + '.json?blocked=1').text('屏蔽之').addClass('text-error block action'));
					}
					_item$.find('.modify a').attr('href', '/info/notices/' + item.id + '?modifying=1');
					_item$.appendTo('#notices');

					if (length === i + 1) {
						this$.attr('last_notice_id', item.id);
					}
				})
				this$.attr('count', count);
			},
			error: function() {
				$('#msg').text('加载时出错啦-_-，请稍后再试或者联系管理员');
			}
		})
	})
})

$('body').on('click', 'a.action', function(e) {
	e.preventDefault();
	var this$ = $(this);
	var url = this$.attr('href');
	var action = '';
	if (this$.hasClass('block')) {
		action = '屏蔽';
	} else if (this$.hasClass('unblock')) {
		action = '解蔽';
	} else {
		// 不可能出错，除非xx
		alert('呃-_-，出错了，请您稍后再试！');
		return;
	}
	var msg = '确定要{}吗？'.replace('{}', action);
	if (!confirm(msg)) {
		return;
	}

	$.ajax({
		url: url,
		type: 'DELETE',
		dataType: 'json',
		success: function(data) {
			if (data.status === 'ok') {
				this$.closest('code').prev().text(action === '屏蔽' ? '屏蔽' : '正常');
				this$.text(action === '屏蔽' ? '解蔽之' : '屏蔽之');
				var info_id = url.match(/[0-9]+\.json/g)[0].replace('.json', '');
				this$.attr('href', action === '屏蔽' ? '/info/notices/' + info_id + '.json?blocked=0' : '/info/notices/' + info_id + '.json?blocked=1');
				this$.removeClass(action === '屏蔽' ? 'block' : 'unblock');
				this$.addClass(action === '屏蔽' ? 'unblock' : 'block');
			} else if (data.status === 'no') {
				alert('出错了-_-，错误信息：' + data.msg + ', 原因：' + data.reason);
			} else {
				alert('见鬼了-_-，这都能出错，请您稍后再试或者联系管理员！');
			}
		},
		error: function() {
			alert('见鬼了-_-，这都能出错，请您稍后再试或者联系管理员！');
		}
	})
})
</script>
</@script>