<#include "macro.ftl" />
<#include "info/macro.ftl" />
<@head title="修改认证信息 - 雨无声实验室">
<style type="text/css">
body {
	padding: 60px 0 40px 0;
}
#update {
	max-width: 680px;
	margin: 20px auto;
}
.alert {
	display: none;
}
#auth_info {
	border: 1px solid #f4f4f4;
}
#pwd_update {
	border: 1px solid #f4f4f4;
}
footer {
	margin: 20px 0;
}
</style>
</@head>
<body>
<@header />

<div class="container" id="update">
	<div class="alert alert-success" id="success">
		<p>修改成功！</p>
	</div>
	<div class="alert alert-error" id="error">
		<p>
			修改失败！
			<span id="msg"></span>
			<span id="reason"></span>
		</p>
	</div>
	<form class="form-horizontal" method="post" action="#" id="profile_form">
		<p class="text-center text-info">修改认证信息</p>
		<div class="control-group">
			<label class="control-label" for="contact">联系方式</label>
			<div class="controls">
				<input type="text" id="contact" name="contact" value="${au.contact}" required />
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="about">关于自己</label>
			<div class="controls">
				<textarea rows="3" name="about">${au.about}</textarea>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="password">请键入您的密码</label>
			<div class="controls">
				<input type="password" id="password" name="password" placeholder="" />
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<a href="#" role="button" class="btn btn-success" id="update_profile">确认修改！</a>
			</div>
		</div>
	</form>
	<hr />
	<form action="" class="form-horizontal" id="pwd_update">
		<p class="text-center text-info">修改密码</p>
		<div class="control-group">
			<label class="control-label" for="password">旧密码</label>
			<div class="controls">
				<input type="password" id="password" name="password" placeholder="" required />
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="pwd1">新密码</label>
			<div class="controls">
				<input type="password" id="pwd1" name="pwd1" placeholder="密码至少6位" required />
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="pwd2">确认新密码</label>
			<div class="controls">
				<input type="password" id="pwd2" name="pwd2" placeholder="密码至少6位" required />
			</div>
		</div>
		<div class="control-group">
			<div class="controls">
				<a href="#" role="button" id="update_pwd" class="btn btn-success">确认修改！</a>
			</div>
		</div>
	</form>
</div>
<div class="container">
	<footer>
		<p>&copy; 2001-2013 <a href="//www.newgxu.cn">newgxu.cn</a> &middot;All Rights Reserved.</p>
	</footer>
</div>
</body>
<@script>
<script type="text/javascript">
$(function() {
	$('#logout').click(function(e) {
		e.preventDefault();
		$('#alert').hide();
		var uid = $('#user_service').attr('uid');
		$.ajax({
			type: 'PUT',
			url: '/info/users/' + uid + '.json'
		})
		location.href = '/info/';
	})
	
	$('#update_pwd').click(function(e) {
		e.preventDefault();
		$('.alert').hide();
		$.ajax({
			url: '/info/user/update/password',
			type: 'POST',
			data: $('#pwd_update').serialize(),
			dataType: 'json',
			success: function(data) {
				if (data.status === 'ok') {
					$('#success').show();
				} else if (data.status === 'no') {
					$('#msg').text(data.msg);
					$('#reason').text(data.reason);
					$('#error').show();
				} else {
					$('#error').show();
				}
			},
			error: function() {
				$('#error').show();
			}
		})
		$('input[type="password"]').val('');
	})

	$('#update_profile').click(function(e) {
		e.preventDefault();
		$('.alert').hide();
		$.ajax({
			url: '/info/user/update/profile',
			type: 'POST',
			data: $('#profile_form').serialize(),
			dataType: 'json',
			success: function(data) {
				if (data.status === 'ok') {
					$('#success').show();
				} else if (data.status === 'no') {
					$('#msg').text(data.msg);
					$('#reason').text(data.reason);
					$('#error').show();
				} else {
					$('#error').show();
				}
			},
			error: function() {
				$('#error').show();
			}
		})
		$('input[type="password"]').val('');
	})
})
</script>
</@script>
