<#include "macro.ftl" />

<@head title="信息发布平台 - 雨无声实验室">
<style type="text/css">
body {
	padding: 60px 0 40px 0;
}
.container-narrow {
  margin: 0 auto;
  max-width: 700px;
}
.container-narrow > hr {
  margin: 30px 0;
}
.jumbotron {
  /*margin: 60px 0;*/
}
.jumbotron h1 {
  font-size: 72px;
  line-height: 1;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}
#author {
	color: red;
}
#alert {
	display: none;
}
</style>
</@head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a href="#" class="brand">信息发布平台</a>
			<div class="nav-collapse collapse">
				<ul class="nav">
					<li><a href="/info/">首页</a></li>
					<li><a href="/resources/html/info/about.html">关于</a></li>
					<li><a href="/resources/html/info/auth.html">认证</a></li>
					<!-- <li><a href="#">认证列表</a></li> -->
					<li><a href="#">服务条款</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">雨无声实验室 <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="/">首页</a></li>
							<li><a href="/about.html">关于实验室</a></li>
						</ul>
					</li>
				</ul>
<#if Session.info_user??>
				<div class="btn-group pull-right">
				  <a class="btn btn-primary" href="#"><i class="icon-user icon-white"></i> ${Session.info_user.authorizedName}</a>
				  <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
				  <ul class="dropdown-menu">
				    <li><a href="/resources/html/info/new_info.html"><i class="icon-pencil"></i> 发表信息</a></li>
				    <li><a href="/info/user/update/${Session.info_user.id}"><i class="icon-edit"></i> 修改个人信息</a></li>
				    <li><a href="#"><i class="icon-th-list"></i> 查看我发表的信息</a></li>
				    <li class="divider"></li>
				    <li id="logout"><a href="/info/logout"><i class="i"></i> 退出</a></li>
				  </ul>
				</div>
<#else>				
				<form action="#" class="navbar-form pull-right" method="post" id="login_form">
					<input type="text" class="span2" name="account" placeholder="账号" required />
					<input type="password" class="span2" name="pwd" placeholder="密码" required />
					<button type="button" class="btn">登陆</button>
				</form>
</#if>		
			</div>
		</div>
	</div>
</div>

<div class="container-narrow">
<div class="jumbotron">
	<div class="alert alert-error" id="alert">
		<p class="text-center"><span id="status"></span><span id="info"></span> <span id="reason"></span></p>
	</div>
  <h1>${info.title}</h1>
  <p class="pull-right"><span id="author">${info.user.authorizedName}</span> 发表于 <span class="time">${info.addDate?string('MM-dd HH:mm')}</span></p>
  <p id="content"></p>
  <p class="pull-right">最后修改于 <span class="time">${info.lastModifiedDate?string('MM-dd HH:mm')}</span></p>
</div>

</div>
</body>
<@script>
<script type="text/javascript" src="/resources/libs/pagedown/1.1.0/Markdown.Converter.js"></script>
<script type="text/javascript">
window.onload = function() {
	var converter = new Markdown.Converter();
	var html = converter.makeHtml('${info.content?js_string}');
	$('#content').html(html);
}
$(function() {
	$('#login_form button').click(function() {
		$('#alert').hide();
		var params = $('#login_form').serialize();
		$.ajax({
			type: 'POST',
			url: '/info/login',
			data: params,
			dataType: 'json',
			success: function(data) {
				if (data.status === 'ok') {
					location.reload();
				} else if (data.status === 'no') {
					$('#status').text('登陆失败！');
					$('#info').text(data.msg);
					$('#reason').text(data.reason);
					$('#alert').fadeIn();
				} else {
					$('#status').text('登陆失败！');
					$('#alert').fadeIn();
				}
			},
			error: function() {
				$('#status').text('登陆失败！');
				$('#alert').fadeIn();
			}
		})
		return false;
	})

	$('#logout').click(function() {
		$('#alert').hide();
		$.ajax({
			type: 'GET',
			url: '/info/logout',
		})
		location.reload();
		return false;
	})
})
</script>
</@script>


