<#include "macro.ftl" />
<#include "info/macro.ftl" />
<@head title="${info.title} - 信息发布平台">
<style type="text/css">
body {
	padding: 60px 0 40px 0;
}
.container-narrow {
	margin: 0 auto;
	max-width: 700px;
}
.container-narrow > hr {
	margin: 30px 0;
}
.jumbotron h1 {
	font-size: 52px;
	line-height: 1;
}
.jumbotron .btn {
	font-size: 21px;
	padding: 14px 24px;
}
#content {
	padding: 10px 0;
}
#alert {
	display: none;
}
footer {
	margin: 40px 0;
}
</style>
</@head>
<body>
<@header />
<div class="alert alert-error" id="alert">
	<p class="text-center"><span id="status"></span><span id="info"></span> <span id="reason"></span></p>
</div>
<div class="container-narrow">
<#-- 假如是来自新建信息后跳转后过来的 -->
<#if "${RequestParameters.from}" == "-1">
	<#if "${RequestParameters.status}" == "ok"> <#-- ok，发表正常 -->
	<div class="alert">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<strong>操作成功！</strong>
	</div>
	<@view_info />
	<#else> <#-- no，发表失败 -->
	<div class="alert" id="info_error">
		<strong>操作失败！</strong>
		<div>
			<a href="javascript:history.go(-1)" class="btn btn-info">返回上一步</a>
		</div>
	</div>
	</#if>
<#else> <#-- 正常的浏览信息 -->
	<@view_info />
</#if>
</div>
<div id="modal_profile" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="modal_profileLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="modal_profileLabel"></h3>
	</div>
	<div class="modal-body">
		<div id="profile">
			<p>Ta是： <span id="auth_name"></span></p>
			<p>来自： <span id="org"></span></p>
			<p>关于Ta： <span id="about"></span></p>
			<p>联系Ta吧： <span id="contact"></span></p>
		</div>
	</div>
</div>
<div class="container">
	<footer>
		<p>&copy; 2001-2013 <a href="//www.newgxu.cn">newgxu.cn</a> &middot;All Rights Reserved.</p>
	</footer>
</div>
</body>
<@script>
<script type="text/javascript" src="/resources/libs/pagedown/1.1.0/Markdown.Converter.js"></script>
<script type="text/javascript">
window.onload = function() {
	var converter = new Markdown.Converter();
	var html = converter.makeHtml('${info.content?js_string}');
	$('#content').html(html);
}
$(function() {
	$('#_index').removeClass('active');
	$('#login_form button').click(function(e) {
		e.preventDefault();
		$('#alert').hide();
		var params = $('#login_form').serialize();
		$('#login_form input[type="password"]').val('');
		$.ajax({
			type: 'POST',
			url: '/info/login',
			data: params,
			dataType: 'json',
			success: function(data) {
				if (data.status === 'ok') {
					location.reload();
				} else if (data.status === 'no') {
					$('#status').text('登陆失败！');
					$('#info').text(data.msg);
					$('#reason').text(data.reason);
					$('#alert').fadeIn();
				} else {
					$('#status').text('登陆失败！');
					$('#alert').fadeIn();
				}
			},
			error: function() {
				$('#status').text('登陆失败！');
				$('#alert').fadeIn();
			}
		})
	})

	$('#logout').click(function(e) {
		e.preventDefault();
		$('#alert').hide();
		$.ajax({
			type: 'GET',
			url: '/info/logout',
		})
		location.reload();
		return false;
	})
})
function userDetail(uid) {
	var url = '/info/user/profile/' + uid;
	$.ajax({
		type: 'GET',
		url: url,
		dataType: 'json',
		success: function(data) {
			if (data.status) {
				alert('没有找到该用户！');
				return;
			}
			$('#auth_name').text(data.authorizedName);
			$('#org').text(data.org);
			$('#about').text(data.about);
			$('#contact').text(data.contact);
		},
		error: function() {
			alert('没有找到该用户！');
		}
	})
	$('#modal_profile').modal();
}
</script>
</@script>